/* add your CSS here */
body{
	font-family: 'Libre Baskerville', serif;
}

.border {
	border: 1px solid #4eb1ba;
	border-radius: 3px;	
}

.card {
	margin: 5px;
	padding: 15px;
	box-shadow: 5px 5px #c7e6f9;
	width: 300px;
}

.card h3 {
	font-size: 18px;
	margin: 10px 0 20px 0;
	color: #336699;
}

.information {
	margin-top: 20px;
	padding: 10px;
	font-size: 12px;
	background-color: #c7e6f9;
	text-align: justify;
}

.card img {
	width: 300px;
}

.interesting {
	font-style: italic;
}

.items {
	padding: 0;
	list-style-type: none;
}

li span {
	font-weight: bold;
}